{% extends 'blog/base.html' %} {% block content %}


    <section class="recent-blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>Blog</h1>
            <p>Take a look at my recent posts.</p>
          </div>
        </div>
        <div class="row">
          {% for post in posts %}
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <a
                href="{% url 'post_detail' pk=post.pk %}"
                target="_blank"
              >
              {% if post.img %}
                <img
                  class="f-img img-fluid"
                  src="{{post.img.url}}"
                  alt=""
                />
                {% endif %}
              </a>
            </div>
            <div
              class="
                bottom
                d-flex
                justify-content-between
                align-items-center
                flex-wrap
              "
            >
              <div class="meta">{{post.published_date}}</div>
            </div>
            <a
              href="https://towardsdatascience.com/automating-aws-server-shut-down-for-deep-learning-5d5de1301c70"
              target="_blank"
            >
              <h4>{{post.title}}</h4>
            </a>
            <p>
              {{ post.text}}
            </p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>




{% endblock %}
