{% extends 'blog/base.html' %} {% block content %}


    {%if post.img%}
    <div class="col-lg-6 col-md-6 col-xs-6 banner-right align-self-center">
      <img src="{{post.img.url}}" />
    </div>
    {% endif %}

    <div class="content">
      <a class="header">{{post.author}}</a>
      <div class="meta">
        <span class="date">{{post.published_date}}</span>
      </div>
      <div class="description">{{post.text}}</div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>

{% endblock %}
