{% extends 'blog/base.html' %} {% block content %}

<div class="ui internally celled grid">
  <div class="ui centered card">
    {%if post.img%}
    <div class="image">
      <img src="{{post.img.url}}" />
    </div>
    {% endif %}

    <div class="content">
      <a class="header">{{post.author}}</a>
      <div class="meta">
        <span class="date">{{post.published_date}}</span>
      </div>
      <div class="description">{{post.text}}</div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>
  </div>
</div>
{% endblock %}
