{% extends 'index/base.html' %} {% load static %}{% block content %}


    <!-- start banner Area -->
    <section class="about-banner">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12">
            <h1 class="text-white">
              Portfolio
            </h1>
            <p class="text-white link-nav"><a href="{%url 'index'%}">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{%url 'archive'%}"> Portfolio</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->
    <!-- Main Content -->

    <section class="sample-text-area">

                  <div class="container">

                      <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">

{% for post in  posts %}

                        <div class="row post-preview">
                          <div class="col-lg-3 col-md-3 col-xs-3 d-flex justify-content-center img-fluid align-self-center">
                            <a href="{{post.url}}" target="_blank">
                            <img class="portfolio-photo" src="{{post.img.url}}">
                          </a>
                          </div>

                          <div class="col-lg-9 col-md-9 col-xs-9">
                            <h2 class="post-title">
                              <a href="{{post.url}}" target="_blank">
                                {{post.title}}                           </a>

                            </h2>
                          <p>
                          {{post.text|slice:":255"}}
                          <p class="post-meta">
                            {{post.author}}
                            {{post.published_date}}</p>
                        </div>
                        </div>

                        <hr>
                        {% endfor %}
        </div>
      </div>


</section>




{% endblock %}


