
{% extends 'index/base.html' %} {% load static %}{% block content %}
    <!-- start banner Area -->
    <section class="banner-area">
      <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
          <div class="col-lg-6 col-md-6 col-xs-6 banner-left">
            <h5>I am</h5>

            <h2 class="mt-10 mb-20">Emin Özata</h2>
            <p>Physics Engineering 3/4</p>
            <p>Istanbul Technical University</p>
            <a href="{%url 'archive'%}" class="primary-btn text-uppercase mb-20"
              >My Projects</a
            >
          </div>
          <div
            class="col-lg-6 col-md-6 col-xs-6 banner-right align-self-center"
          >
            <img
              src="{% static 'img/eminozata.png' %}"
              style="width: auto; height: auto; max-width: 100%"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    

    <!-- Start home-about Area -->
    <section class="home-about-area section-gap">
      <div class="container">
        <div
          class="
            row
            align-items-center
            justify-content-between
            personal-details
          "
        >
          <h1 class="text-uppercase">Personal Details</h1>
          <br />
          <br />

          <blockquote class="generic-blockquote">
            <p class="fz-16">
              I am a 3rd grade physics engineering student at Istanbul Technical
              University. I am interested in topics such as machine learning,
              data science. I am considering an academic career in astrophysics
              in the future.
            </p>
          </blockquote>
          <a href="{% url 'about'%}" class="primary-btn text-uppercase">About me</a>
        </div>
      </div>
    </section>
    <!-- End home-about Area -->

    <div clss="container">
      <hr />
    </div>
    <!-- Start services Area -->
    <section class="services-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content col-lg-7">
            <div class="title text-center">
              <h1 class="mb-10">Areas of Interest</h1>
              <p>Take a look at some of the things I love working on.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single-services">
              <span class="lnr lnr-rocket"></span>
              <a><h4>Astrophysics</h4></a>
              <p>I want to do academic studies on astrophysics in the future</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-services">
              <span class="lnr lnr-earth"></span>
              <a><h4>Django Web Development</h4></a>
              <p>I work as a hobby on website development with django.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single-services">
              <span class="lnr lnr-graduation-hat"></span>
              <a><h4>Machine Learning</h4></a>
              <p>
                I am passionate about learning the theory that is pushing the
                cutting edge of ML.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End services Area -->

    <hr />

    <section class="home-about-area section-gap">
      <div class="text-center">
        <div class="menu-content">
          <div class="title text-center">
            <h1 class="mb-10">Skills Expertisse</h1>
            1 - Basic
            <span style="display: inline-block; width: 2ch">&#9;</span> 2 -
            Novice <span style="display: inline-block; width: 2ch">&#9;</span> 3
            - Intermediate<span style="display: inline-block; width: 2ch"
              >&#9;</span
            >
            <p>
              4 - Advanced<span style="display: inline-block; width: 2ch"
                >&#9;</span
              >
              5 - Expert
            </p>
            <p />
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row skillbar-wraps">
          <div class="col-lg-4 skill-left">
            <h4 class="text-center pt-50">Frameworks/Language</h4>
            <div class="single-skill">
              <p>Databases (SQL) - 4</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>

            <div class="single-skill">
              <p>Django - 4</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>

            <div class="single-skill">
              <p>Unity - 2</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>
          </div>

          <div class="col-lg-4 skill-right">
            <h4 class="text-center pt-50">Machine Learning</h4>
            <div class="single-skill">
              <p>Python - 5</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>
            <div class="single-skill">
              <p>Scikit-learn - 4</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>

            <div class="single-skill">
              <p>Numpy-Pandas - 4</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>
          </div>

          <div class="col-lg-4 skill-right">
            <h4 class="text-center pt-50">Programming Language</h4>

            <div class="single-skill">
              <p>Matlab - 3</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>

            <div class="single-skill">
              <p>Fortran - 3</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>

            <div class="single-skill">
              <p>C# - 3</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr />

    <!-- Start recent-blog Area -->
    <section class="recent-blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>My Latest Projects</h1>
            <p>Take a look at my recent work.</p>
          </div>
        </div>
        <div class="row">
          {% for post in posts %}
          <div class="single-recent-blog col-lg-4 col-md-4">
            <div class="thumb">
              <a href="{{post.url}}" target="_blank">
                <img class="f-img img-fluid" src="{{post.img.url}}" alt="" />
              </a>
            </div>
            <div
              class="
                bottom
                d-flex
                justify-content-between
                align-items-center
                flex-wrap
              "
            >
              <div class="meta">{{post.published_date}}</div>
            </div>
            <a href="{{post.url}}" target="_blank">
              <h4>{{post.title}}s</h4>
            </a>
            <p>{{post.text |slice:":255"}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- end recent-blog Area -->

    <hr />
    <!-- Start price Area -->
    <section class="price-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-20 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Other Platforms</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 single-price">
            <a href="https://github.com/eminozata">
              <div class="top-part">
                <img
                  src="{% static 'img/Octocat.png' %}"
                  height="300"
                  width="300"
                />
                <h4>GitHub</h4>
                <p class="mt-10">My base-of-operations for all things code.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-md-6 single-price">
            <a href="https://www.linkedin.com/in/eminozata/">
              <div class="top-part">
                <img
                  src="{% static 'img/linkedin-logo.png' %}"
                  height="300"
                  width="300"
                />
                <h4>Linkedin</h4>
                <p class="mt-10">Feel free to connect.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End price Area -->


{% endblock %}